<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  
    {% block head %}{% endblock  %}
  </head>
  <body>  
    <header>
      <a href="/">Home</a>
      <ul>
        <li><a href="/auth/register">Register</a>
        <li><a href="/auth/login">Log In</a>
      </ul>
    </header>
    <section class="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <section class="messages">
            <ul class=flashes>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
          </section>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>