{% extends 'auth/base.html' %}

{% block head %} 
    <title>Login</title>
{% endblock %}

{% block content %}
    <form class="login_form" action="/auth/login/validate" method="post">
        <div class="items">
            <h1>LOGIN</h1>
            <p>Efetue o login para continuar!</p>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="input_form">
                <div class="background_label">
                    <label for="username">Username: </label>
                </div>
                <div class="background_input">
                    <input type="text" name="username" id="username">
                </div>
            </div>
            <div class="input_form">
                <div class="background_label">
                    <label for="password">Password: </label>
                </div>
                <div class="background_input">
                    <input type="password" name="password" id="password">
                </div>
            </div>

            <button type="submit">LOGIN</button>

            <div class="register">
                <a href="/auth/register">Clique aqui, caso ainda não tenha uma conta!</a>
            </div>
        </div>
    </form>
{% endblock  %}
