:root {
    --color-primary: #9F63FF;
    --color-secondary: #F357FF;
    --color-tertiary: #B34FE8;
    --color-fourth: #604FE8;
    --color-fifth: #5771FF;

    --color-primary-dark: #503280;
    --color-secondary-dark: #281940;
    --color-tertiary-dark: #8F5AE6;

    --color-primary-light: #FF9E7D;
    --color-secodary-light: #FFF84A;
    --color-tertiary-light: #57FFD9;

    --color-blak: #111111;
    --color-white: #fffafa;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    color: var(--color-blak);
}
a:hover {
    cursor: pointer;
}
textarea, input {
    border: none;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: var(--color-blak);
    background-color: var(--color-primary);
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content > .login_form,
.content > .register_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content > .login_form > .items {
    display: flex;
    width: 16.875rem;
    height: 18.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    border-radius: .8rem;

    background-color: var(--color-secondary-dark);
}

.content > .register_form > .items > .top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 22px;
}

.content > .register_form > .items > .top > a > img {
    width: 20px;
    height: 22px;
    margin-left: 1rem;
    fill: var(--color-secondary);
}

.content > .login_form > .items > h1,
.content > .register_form > .items > h1 {
    font-size: 1.9rem;
    margin-bottom: .5rem;
}

.content > .login_form > .items > p,
.content > .register_form > .items > p {
    font-size: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.content > .login_form > .items > h1,
.content > .login_form > .items > p,
.content > .register_form > .items > h1,
.content > .register_form > .items > p {
    color: var(--color-white);
}

.content > .login_form > .items > .input_form,
.content > .register_form > .items > .input_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > .login_form > .items > .input_form > .background_label,
.content > .login_form > .items > .input_form > .background_input,
.content > .register_form > .items > .input_form > .background_label,
.content > .register_form > .items > .input_form > .background_input {
    display: flex;
    height: 1.5rem;
    background-color: var(--color-white);
    margin: .5rem 0;

    font-size: .6rem;
}

.content > .login_form > .items > .input_form > .background_label,
.content > .register_form > .items > .input_form > .background_label {
    width: 4rem;
    align-items: center;
    justify-content: end;
    border-radius: .8rem 0 0 .8rem;
}

.content > .login_form > .items > .input_form > .background_label:hover,
.content > .login_form > .items > .input_form > .background_label label:hover,
.content > .register_form > .items > .input_form > .background_label:hover,
.content > .register_form > .items > .input_form > .background_label label:hover {
    cursor: pointer;
}

.content > .login_form > .items > .input_form > .background_input, 
.content > .register_form > .items > .input_form > .background_input {
    width: 11.5rem;
    align-items: center;
    justify-content: start;
    border-radius: 0 .8rem .8rem 0;
}

.content > .login_form > .items > .input_form > .background_input input,
.content > .register_form > .items > .input_form > .background_input input {
    width: 10rem;
    margin-left: .5rem;
}

.content > .login_form > .items > button,
.content > .register_form > .items > button {
    width: 8rem;
    height: 2.3rem;
    margin-top: 1rem;
    border: none;
    border-radius: .8rem;
    font-size: 1.5rem;
}

.content > .login_form > .items > button:hover,
.content > .register_form > .items > button:hover {
    cursor: pointer;
}

.content > .login_form > .items > .register,
.content > .register_form > .items > .register {
    display: flex;
    margin: .75rem 0;
}

.content > .login_form > .items > .register > a {
    color: var(--color-secondary);
    font-size: .6rem;
}

.content > .register_form > .items {
    display: flex;
    width: 16.875rem;
    height: 19.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    border-radius: .8rem;

    background-color: var(--color-secondary-dark);
}

@media (min-width: 480px) and (max-width: 767px) {
    .content > .login_form > .items {
        width: 28.125rem;
        height: 16.25rem;
    }

    .content > .register_form > .items {
        width: 28.125rem;
        height: 20.25rem;
    }
    
    .content > .login_form > .items > .input_form > .background_label,
    .content > .login_form > .items > .input_form > .background_input,
    .content > .register_form > .items > .input_form > .background_label,
    .content > .register_form > .items > .input_form > .background_input {
        height: 1.7rem;

        font-size: .9rem;
    }
    
    .content > .login_form > .items > .input_form > .background_label,
    .content > .register_form > .items > .input_form > .background_label {
        width: 6.8rem;
    }
    
    .content > .login_form > .items > .input_form > .background_input,
    .content > .register_form > .items > .input_form > .background_input {
        width: 16.8rem;
    }


    .content > .login_form > .items > .input_form > .background_input input,
    .content > .register_form > .items > .input_form > .background_input input {
        width: 13rem;
    }

    .content > .login_form > .items > .register > a,
    .content > .register_form > .items > .register > a {
        font-size: .9rem;
    }
}

@media (min-width: 768px) {
    .content > .login_form > .items {
        width: 35rem;
        height: 17rem;
    }

    .content > .register_form > .items {
        width: 35rem;
        height: 21.25rem;
    }
    
    .content > .login_form > .items > h1,
    .content > .register_form > .items > h1 {
        font-size: 2.5rem;
    }
    
    .content > .login_form > .items > p,
    .content > .register_form > .items > p {
        font-size: 1.6rem;
    }
    
    .content > .login_form > .items > .input_form > .background_label,
    .content > .login_form > .items > .input_form > .background_input,
    .content > .register_form > .items > .input_form > .background_label,
    .content > .register_form > .items > .input_form > .background_input {
        font-size: 1rem;
    }
    
    .content > .login_form > .items > .input_form > .background_label,
    .content > .register_form > .items > .input_form > .background_label {
        width: 6.8rem;
    }
    
    .content > .login_form > .items > .input_form > .background_input,
    .content > .register_form > .items > .input_form > .background_input {
        width: 16.8rem;
    }


    .content > .login_form > .items > .input_form > .background_input input,
    .content > .register_form > .items > .input_form > .background_input input {
        width: 13rem;
    }

    .content > .login_form > .items > .register > a,
    .content > .register_form > .items > .register > a {
        font-size: 1.2rem;
    }
}