:root {
    --color-primary: #9F63FF;
    --color-secondary: #F357FF;
    --color-tertiary: #B34FE8;
    --color-fourth: #604FE8;
    --color-fifth: #5771FF;

    --color-primary-dark: #503280;
    --color-secondary-dark: #281940;
    --color-tertiary-dark: #8F5AE6;

    --color-primary-light: #FF9E7D;
    --color-secodary-light: #FFF84A;
    --color-tertiary-light: #57FFD9;

    --color-blak: #111111;
    --color-white: #fffafa;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    color: var(--color-blak);
}
a:hover {
    cursor: pointer;
}
textarea, input {
    border: none;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: var(--color-blak);
    background-color: var(--color-primary);
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    width: 100vw;
    padding-top: .5rem;
}

header,
header > ul {
    display: flex;
    height: 2rem;

    align-items: center;
}

header > a {
    margin-left: 1rem;
    justify-self: start;
    background-color: var(--color-secondary-dark);
    border-radius: .8rem;
    padding: .5rem;
    color: var(--color-white);
}

header > ul {
    width: 100%;
    justify-self: stretch;
    justify-content: end;
}

header > ul > li > span {
    margin-right: 1rem;
    background-color: var(--color-white);
    border-radius: .8rem;
    padding: .5rem;
    color: var(--color-secondary-dark);    
}

header > ul > li > a {
    margin-right: 1rem;
    background-color: var(--color-secondary-dark);
    border-radius: .8rem;
    padding: .5rem;
    color: var(--color-white);
}

.messages > .flashes > li {
    text-align: center;
    font-weight: bold;
    color: var(--color-blak);
    margin-top: .5rem;
    padding: .5rem .2rem;
}

.messages > .flashes > .success {
    background-color: var(--color-fifth);
}

.messages > .flashes > .error {
    background-color: var(--color-secondary);
}
